body {
  margin-top: 200px;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
  background-color: black;
}

.sort {
  margin-bottom: 10px;
  margin-left: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6432C9;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}
.logo-container {
  flex-grow: 1;
}

.logo {
  max-width: 100px;
}

.login-container {
  margin-left: 20px;
}

.login-icon {
  width: 30px;
}


/* Search*/

.search-container {
  display: flex; 
  flex-direction: column;
}

.searchbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(34, 34, 34);
  background: linear-gradient(
    142.99deg,
    rgba(217, 217, 217, 0.63) 15.53%,
    rgba(243, 243, 243, 0.63) 88.19%
  );
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 20px;
  margin: 7px auto;
  margin-right: auto;
  padding: 18px 15px;
  outline: none;
  text-align: center;
  width: 200px;
  transition: 0.5s;
}
.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(34, 34, 34);
  background: linear-gradient(
    142.99deg,
    rgba(217, 217, 217, 0.63) 15.53%,
    rgba(243, 243, 243, 0.63) 88.19%
  );
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 20px;
  margin: 7px auto;
  padding: 18px 15px;
  width: 200px;
  transition: 0.5s;
}

.searchbtn:hover,
.search-button:hover {
  width: 240px;
}

.searchbtn:focus,
.search-button:focus {
  width: 280px;
}

.sortopt{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Podcast Display */

.podcast-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6432C9;
  height: 50px;
}

.podcast-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.show-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

.show-item > img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.show-item > h6 {
    font-size: 10px;
}

.podcast-list {
    margin: 10px;
}

/* Preview Popup */

.show-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color:#4245499f;

}

.show-content{
    text-align: center;
    background-color: #000000;
    height: 100%;
}

.preview-image {
    height: auto;
    width: 40%; 
    margin-top: 10px;
    border-radius: 20px;
}

.preview-title {
  color: white;
}

.preview-description {
    margin: 10px;
   max-height: 400px;
   overflow-y: auto;
   font-size: 13px;
   color: white;
    
}

.preview-read-more {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color:#6432C9;
  color: #fff;
}

.preview-close {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6432C9;
  color: #fff;
}

.preview-season {
  color: white;
}

.preview-seasons {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6432C9;
  color: #fff;
}

.bottom-buttons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

/* Carousel CSS */

.carousel-box {
  z-index: 900; /* Lower than the z-index of the navbar */
  margin-top: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  overflow-x: scroll;
}

.carousel {
  margin-right: 10px;
}

.carousel-images {
background: #16161d;
border: 2px solid #555555;
border-radius: 4px;
position: relative;
transform-style: preserve-3d;
will-change: transform;
transition: transform .5s;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #666;
  max-width: none;
  height: 200px;
  scroll-snap-align: start;
}

.carousel-images:hover{
transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}

/* Show Seasons CSS */

.season-details {
  background-color: #000000;
  z-index: 9999;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  color: white;
}

.season-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 55px;
  color: #ff6f00;
  text-shadow: 2px 2px 4px #6432C9;
}

.season-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.season-image {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.season-select {
  width: 40%;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 26px;
  border: 1px solid black;
  border-radius: 4px;
  appearance: none;
  color: white;
  background-color: #6432C9;
  background-image: linear-gradient(45deg, transparent 50%, black 50%), linear-gradient(135deg, black 50%, transparent 50%);
  background-position: calc(100% - 20px) center, calc(100% - 15px) center;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 15px;
}

.season-select:focus {
  outline: none;
  box-shadow: 0 0 5px #6432C9;
}

.season-select option {
  font-size: 16px;
  background-color: black;
}

.season-close {
  background-color: #6432C9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
  margin-left: 90px;
}

.season-close:hover {
  background-color: #0056b3;
}

.season-close:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.season-close:active {
  background-color: #003b80;
}

.season-date {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.season-genre {
  margin: 10px;
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.episode-container {
  max-width: 330px;
  padding-left: 6px;
}

.fixed-audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 10px;
}

.episodes {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: black;
  box-shadow: 2px 2px 4px #6432C9;
}

.episode-image {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.episode-title {
  font-size: 30px;
  font-weight: bold;
  color: #ff6f00;
  text-shadow: 2px 2px 4px #6432C9;
}

.episodes h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.episodes p {
  font-size: 15px;
  color: #666;
}

.episodes audio {
  margin-top: 10px;
  width: 100%;
  outline: none;
  background-color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
}

.episodes audio::-webkit-media-controls-panel {
  background-color:white;
  border-radius: 3px;
}

.episodes audio::-webkit-media-controls-current-time-display {
  margin-right: 5px;
}

.episodes audio::-webkit-media-controls-time-remaining-display {
  margin-left: 5px;
}

/* LOGIN */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-out;
}

.form:hover {
  transform: scale(1.01);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button3:hover {
  background-color: red;
  color: white;
}
/* LOGIN_CLOSE */
.loader {
  width: 60px;
  display: flex;
  justify-content: space-evenly;
}

.ball {
  list-style: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

.ball:nth-child(1) {
  animation: bounce-1 2.1s ease-in-out infinite;
}

@keyframes bounce-1 {
  50% {
    transform: translateY(-90px);
    scale: 0.3;
  }
}

.ball:nth-child(2) {
  animation: bounce-3 2.1s ease-in-out 0.3s infinite;
}

@keyframes bounce-2 {
  50% {
    transform: translateY(-90px);
    scale: 0.3;
  }
}

.ball:nth-child(3) {
  animation: bounce-3 2.1s ease-in-out 0.6s infinite;
}

@keyframes bounce-3 {
  50% {
    transform: translateY(-90px);
    scale: 0.3;
  }
}
